<div>
    <div>
        <p>Chat</p>
    </div>
    {{!-- <form action="" enctype="text/plain" method="post">
        <input name="mail" placeholder="mail">
        <input name="mensaje" placeholder="mensaje">
        <input type="submit" value="Enviar">
    </form> --}}


</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>