<div>
    <div>
        <p>Productos agregados hasta el momento utilizando metodo get html:</p>
    </div>
    <div>
        <ul>
            {{#each products}}
            <li>{{title}} ${{price}}</li>
            {{/each}}
        </ul>
    </div>
</div>

<script src="js/index.js" ></script>