<div>
    <div>
        <p>Agregá nuevos productos:</p>
    </div>
    <div>
        <input id="newProduct" placeholder="newProduct">
        <input id="price" placeholder="price">
        <button type="submit" id="myBtn">Enviar</button>
    </div>
    <div>
        <p>Productos agregados hasta el momento (funcionando con websocket):</p>
    </div>
    <div>
        <ul id="allproducts"></ul>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js" ></script>